/* Sc : call.css import file files */

h1 {
    color: red;
    font-weight : 500;
}


/*
<link href="mobile.css" rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" />
*/