
<br /><br />
<p>
BE AWARE IM USING PHP SHORT TAGS thus the .PHTML extention <br />
TO BE ABLE TO USE SHORT TAGS YOUR SERVER MUST ENABLE THEM in the PHP.INI file <br />
BY SETTING the "" short_open_tag=On "" <br />
</p>
<p>
NEXT Titls the seperate words must be seperated by a hiven  eg a-dum-book-of-yesteryear-lol <br />
blak spaces wil get scrubbed by the urlParser function..... <br />
</p>
<p>
this is the blogPost id : <?= $id ?> <br />
and this is thet title : <?= $title ?><br />
</p>
<br /><br />